@import '../../styles/Reset.module.scss';
@import '../../styles/Mixins.module.scss';

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 360px;
}

:global(#root) {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
main {
    max-width: 1440px;
    width: 100%;
}

footer {
    width: 100%;
}

main {
    @include gap-2652('padding-block');
    @include gap-20100('padding-inline');
}
