$breakpoint-small: 640px;
$breakpoint-medium: 960px;
$breakpoint-large: 1440px;

// Font size

$font-weight-medium: 500;
$font-weight-bold: 700;

// Radius

$radius-small: 10px;
$radius-medium: 25px;

// General size mixin

// Mixin for small sizes (divisor: 4)
@mixin size-small($property, $sizemin, $sizemax) {
    #{$property}: clamp(
        #{$sizemin}px,
        #{calc(($sizemax - $sizemin) / 4)}vw,
        #{$sizemax}px
    );
    @media (max-width: $breakpoint-small) {
        #{$property}: #{$sizemin}px;
    }
    @media (min-width: $breakpoint-large) {
        #{$property}: #{$sizemax}px;
    }
}

// Mixin for medium sizes (divisor: 6)
@mixin size-medium($property, $sizemin, $sizemax) {
    #{$property}: clamp(
        #{$sizemin}px,
        #{calc(($sizemax - $sizemin) / 6)}vw,
        #{$sizemax}px
    );
    @media (max-width: $breakpoint-small) {
        #{$property}: #{$sizemin}px;
    }
    @media (min-width: $breakpoint-large) {
        #{$property}: #{$sizemax}px;
    }
}

// Mixin for large sizes (divisor: 12)
@mixin size-large($property, $sizemin, $sizemax) {
    #{$property}: clamp(
        #{$sizemin}px,
        #{calc(($sizemax - $sizemin) / 12)}vw,
        #{$sizemax}px
    );
    @media (max-width: $breakpoint-small) {
        #{$property}: #{$sizemin}px;
    }
    @media (min-width: $breakpoint-large) {
        #{$property}: #{$sizemax}px;
    }
}
