$breakpoint-small: 512px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

@mixin size-1($property) {
    #{$property}: clamp(12px, 0.4rem + 1.6vw, 24px);
    @media (max-width: $breakpoint-small) {
        #{$property}: 12px;
    }
    @media (min-width: $breakpoint-large) {
        #{$property}: 24px;
    }
}

@mixin gap-0($property) {
    #{$property}: clamp(30px, 0.4rem + 3.2vw, 60px);
    @media (max-width: $breakpoint-small) {
        #{$property}: 30px;
    }
    @media (min-width: $breakpoint-large) {
        #{$property}: 60px;
    }
}

@mixin gap-1($property) {
    #{$property}: clamp(20px, 4vw, 45px);
    @media (max-width: $breakpoint-small) {
        #{$property}: 20px;
    }
    @media (min-width: $breakpoint-large) {
        #{$property}: 45px;
    }
}

@mixin gap-2($property) {
    #{$property}: clamp(20px, 9vw, 100px);
    @media (max-width: $breakpoint-small) {
        #{$property}: 20px;
    }
    @media (min-width: $breakpoint-large) {
        #{$property}: 100px;
    }
}
