@import '../../styles/Colors.module.scss';
@import '../../styles/Mixins.module.scss';

.card {
    display: grid;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    background-color: $color-primary;
    transition: transform 0.2s ease-in-out;

    @media (max-width: $breakpoint-small) {
        aspect-ratio: 1.3 / 1;
    }

    .img {
        grid-area: 1 / 1 / 2 / 2;
        object-fit: cover;
        height: 100%;
    }

    .titleContainer {
        grid-area: 1 / 1 / 2 / 2;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: end;
        background: $gradient-primary;
        .title {
            color: $color-light;
            font-weight: $font-weight-bold;
            padding: 18px;
            max-width: 280px;
        }
    }

    &:hover {
        transform: scale(1.03);
    }
}
