@import '../../styles/Colors.module.scss';
@import '../../styles/Mixins.module.scss';

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 10px;
}

.tag {
    @include size-small('font-size', 10, 14);
    display: flex;
    align-items: center;
    justify-content: center;
    @include size-small('min-width', 85, 115);
    @include size-small('margin-top', 5, 20);
    @include size-small('padding-inline', 10, 20);
    @include size-small('height', 18, 25);
    background-color: $color-primary;
    color: $color-light;
    border-radius: 0.6em;
}
