@import '../../styles/Mixins.module.scss';
@import '../../styles/Colors.module.scss';

.home {
    display: flex;
    flex-direction: column;
    @include size-medium('gap', 26, 52);

    .cardsContainer {
        background-color: $color-frame;
        display: grid;
        @include size-medium('gap', 20, 48);
        @include size-medium('padding', 20, 48);
        @include size-medium('border-radius', 10, 25);

        @media (min-width: $breakpoint-medium) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $breakpoint-medium) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $breakpoint-small) {
            grid-template-columns: 1fr;
            background-color: $color-light;
            padding: 0;
        }
    }
}
