@import '../../styles/Colors.module.scss';
@import '../../styles/Mixins.module.scss';

:export {
    colorPrimary: $color-primary;
    logoHeader: clamp(47px, 6vw, 68px);
}

.header {
    @include size-1224('font-size');
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include gap-2652('padding-top');
    @include gap-20100('padding-inline');
    .nav {
        display: flex;
        gap: clamp(30px, 4vw, 60px);
        @media (max-width: $breakpoint-small) {
            gap: 30px;
        }
        @media (min-width: $breakpoint-medium) {
            gap: 60px;
        }
    }
}

.link {
    &::after {
        content: '';
        position: relative;
        display: block;
        top: -3px;
        width: 0;
        height: 2px;
        background-color: $color-dark;
        transition: width 0.3s cubic-bezier(0, 0.6, 0.4, 1);
        @media (max-width: $breakpoint-small) {
            top: -2px;
            height: 1px;
        }
    }

    &:hover::after {
        width: 100%;
    }
}

.active {
    &::after {
        width: 100%;
    }
}
