@import '../../styles/Colors.module.scss';
@import '../../styles/Mixins.module.scss';

$logo-footer: 40px;

:export {
    colorSecondary: $color-light;
    logoFooter: $logo-footer;
}

.footer {
    position: absolute;
    left: 0;
    height: 209px;
    width: 100%;

    @include size-1('font-size');
    background-color: $color-dark;
    color: $color-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 32px;
    text-align: center;
    @media (max-width: $breakpoint-small) {
        padding-bottom: 58px;
    }
    p {
        @media (max-width: $breakpoint-small) {
            max-width: 120px;
        }
    }
    svg {
        min-height: $logo-footer;
    }
}
