@import '../../styles/Mixins.module.scss';
@import '../../styles/Colors.module.scss';

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 80px;
    gap: 110px;
    @media (min-width: $breakpoint-small) {
        gap: 140px;
    }

    .errorCode,
    .errorMessage {
        color: $color-primary;
    }

    .errorCode {
        @include size-medium('font-size', 96, 288);
        font-weight: $font-weight-bold;
        @include size-medium('height', 96, 288);
        line-height: 1em;
    }

    .errorMessage {
        @include size-medium('font-size', 18, 36);
        text-align: center;
    }

    .link {
        @include size-small('font-size', 12, 18);
        text-decoration: underline;
    }

    br {
        display: none;
        @media (max-width: $breakpoint-medium) {
            display: block;
        }
    }
}
